**/*.class
**/*.log
**/metastore_db/
/.metadata/


**/.worksheet
**/.settings
*/.cache-main
**/.classpath
**/bin
**/.project
/ml-100k
**/target
**/.idea
**/.metadata
**/metastore_db
/lambda-pluralsight
